<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:firewall="http://wixtoolset.org/schemas/v4/wxs/firewall"
     RequiredVersion="4.0">
    <Package Manufacturer="Janrupf" Name="Dragon Claw Agent" Version="0.1.0"
             UpgradeCode="E90060D9-3880-44B9-8E79-561650A74D1E">
        <Upgrade Id="E90060D9-3880-44B9-8E79-561650A74D1E">
            <UpgradeVersion Property="OLDVERSIONFOUND" Minimum="0.1.0" IncludeMinimum="yes"/>
        </Upgrade>
        <Media Id="1" Cabinet="dragon-claw-agent.cab" CompressionLevel="high" EmbedCab="yes"/>
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLDIR" Name="DragonClawAgent">
                <Component Id="DragonClawAgent" Bitness="always64">
                    <File Id="DragonClawAgentEXE" Name="dragon-claw-agent.exe" DiskId="1"
                          Source="target\x86_64-pc-windows-msvc\release\dragon-claw-agent.exe" KeyPath="yes"/>
                    <ServiceInstall Name="DragonClawAgent" Type="ownProcess" Start="auto" ErrorControl="ignore"
                                    Account="LocalSystem"
                                    DisplayName="Dragon Claw Agent"
                                    Description="The agent which allows remote control via the Dragon Claw App"
                                    Vital="yes"/>
                    <ServiceControl Name="DragonClawAgent" Remove="uninstall" Start="install" Stop="uninstall"
                                    Wait="yes"/>
                    <firewall:FirewallException Name="Dragon Claw Agent" File="DragonClawAgentEXE" Protocol="tcp"
                                                Scope="any"
                                                Profile="private"
                                                Description="Allows incoming connections to the Dragon Claw Agent"/>
                </Component>
            </Directory>
        </StandardDirectory>

        <Feature Id="Complete" Title="Dragon Claw Agent" Description="The main agent executable" AllowAdvertise="no"
                 AllowAbsent="no" Level="1" ConfigurableDirectory="INSTALLDIR">
            <ComponentRef Id="DragonClawAgent"/>
        </Feature>

        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallInitialize"/>
        </InstallExecuteSequence>

        <ui:WixUI Id="WixUI_FeatureTree" InstallDirectory="INSTALLDIR"/>
        <WixVariable Id="WixUILicenseRtf" Value="target\x86_64-pc-windows-msvc\release\LICENSE.rtf"/>
        <WixVariable Id="WixUIDialogBmp" Value="assets\icon\build\wix-installer-dialog\icon.png"/>
        <WixVariable Id="WixUIBannerBmp" Value="assets\icon\build\wix-installer-banner\icon.png"/>

        <Icon Id="icon.ico" SourceFile="assets\icon\build\windows-icon\icon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico"/>
    </Package>
</Wix>
